*{
 margin: 0px;
 padding: 0px;
}

body{
 font-family: arial;
}

.cards{
     width: 300px;
     background-color: white;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px;
     margin: 40px;
}

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
  text-align: center;
  padding: 10px;
 }

h1{
  font-size: 20px;
  color: #d80101;
}

.des{
  text-align: center;
  padding: 4px
}

button{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

button:hover{
  background-color: #d80101;
  color: white;
  transition: .5s;
  cursor: pointer;
}
